/* .search-bar-container{  
    box-shadow: lightgray 2px 5px 10px 6px;
    border-radius: 5px;
    min-width: 45vw;
    margin:auto;
} */
@import '../../style-variables/colors';

.logo-and-menu-container{
    display: flex;    
    // z-index: inherit;
    margin-right: 30px;
}

.logo-and-menu-container svg{
    display: none;
}
 
.yelp-logo {  
    margin-left:2vw;
    content:url("../../assets/images/yelp-logo.png");

}

.search-bar-outer-container{
    display: flex;
    height: fit-content;
    max-width: inherit;    
}

.search-bar-inner-container{
    box-shadow: $lightgray 2px 5px 10px 6px;
    min-width: 45vw;
    margin:auto;    
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.search-bar-inner-container> button {
    height: -webkit-fill-available;
    background-color: lightcoral;
    color:white;
    border: none;
    border-radius: 5px;
    
}

/* .search-criteria, .location-input{

    display: inline-flex;
    width: 300px;
    height: 32px;
    border: none;

} */

.lg-screen-search-criteria , .lg-screen-location-input  {
    display: inline-flex;
    width: 314px;
    height: 34px;
    border: none;
}

.search-criteria,.lg-screen-search-criteria{
    border-right: 1px solid rgb(219, 217, 217);
}

.location-input{
    border-left: 1px solid rgb(219, 217, 217);
}

.search-icon-contianer > svg{
    display: flex;
    color: white;
    background-color: #F40D15;
    padding: 5px;
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
    height: 1.18em;
    cursor: pointer;
}

.mobile-search-icon-contianer > svg{  
    display: none;
}
/*search icon */
/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge.css-tzssek-MuiSvgIcon-root{
    display: flex;
    color: white;
    background-color: #F40D15;
    padding: 5px;
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
    height: 1.13em;

} */

.mobile-cancel-link , #mobile-search-input-container{
    display: none;
}



@media (min-width: 300px) and (max-width: 800px) {
    .search-bar-container {
        height: fit-content;
        box-shadow: none;
        background-color: $bg-color;
        min-width: 100%;
        border-radius: 0px;
        margin-bottom: -20px;
        margin-top:40px; 
      }

      .logo-and-menu-container{
        justify-content: center;
       
        }

     .yelp-logo {  
        margin-left:2vw;
        width: 10vw;
        height: 8vw;
        content:url("../../assets/images/yelp-logo-mobile.png");
     
      }
    
      .logo-and-menu-container > svg {
        position: relative;
        top: 12px;
        left: 36vw;
        color: white;
        cursor: pointer;
        display: inherit;
      }

    .search-bar-outer-container , .search-criteria,.search-icon-container{
      flex-direction: column;
    }

    .search-bar-inner-container{
        box-shadow: none;
        padding-left: 15px;
        padding-right: 30px;
    }

    .search-criteria, .location-input{
        width: 90vw;
        height: 30px;
        margin: 5px 0;
    }

    .search-icon-contianer > svg{
        display: none;
    }

    .mobile-search-icon-contianer {
        display: flex;
        min-width: 90vw;
        height: 25px;
        justify-content: space-between;
        /* position: inherit; */
    }

    
    .mobile-cancel-link, .mobie-search-icon-inner-contianer> svg{
        display: flex;      
        align-self:normal;  
        align-items: center;     
        color: white;
        background-color: #F40D15;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .mobile-cancel-link > a {
        padding:5px 10px;
    }

    .mobie-search-icon-inner-contianer> svg{
        font-size: 20px;
        padding: 2px 20px;
    }

    #mobile-search-input-container{
        display: block;
    }

    #lg-screen-search-input-container{
        display: none;
    }
  }