.search-result-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 25px;
    padding: 20px;
}

.search-result-heading {
    text-align: left;
    font-weight: 600;    
}

.single-search-result-container{
    display: flex;
    text-align: left;
    color: rgb(71 ,70, 70 / 62%);
}

.search-result-info {
    padding-left: 10px;
}

.search-result-image{
    width: 14vw;
    height: 14vw;
    border-radius: 5px;
}


.name-and-reviews{
    margin-top: -15px;
    margin-left: 5px;
    line-height: 10px;
   
}

.name-and-reviews > p {
    font-weight: 500;
}

.rating-container{
    margin: 0px 2px;
}

.rating-container > span {
    padding: 5px;
}

.review-container{
    display: flex;
}

.review-excerpt{
    margin: 0 0 0 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    line-height: 20px;
    color: rgba(110,112,114,1);
    text-align: left;
}


.applied-filters{
    display: flex;
    list-style: none;
    padding: 0;
}


.applied-filters > li{   
    display: flex;
    align-items: center;    
    margin: 5px;
    
}

.alias{
    background-color: rgb(243, 239, 239); 
    color:rgb(110,112,114);
    padding: 8px 5px;
    border-radius: 3px;
    font-weight: 600;
}

.applied-filters > li:nth-child(4)::after{
    content: '\00a0\2022\00a0';
    margin-left: 10px;
    margin-right: -5px;
}

.CTA-link-container{
    display: flex;
    justify-content: right;

}

.CTA-link {
    border: 1px solid #80808075;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(45,46,47,1);
    max-width: 100px;
    letter-spacing: 0.2px;
    line-height: 24px;
    margin-top: 1px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (min-width: 300px) and (max-width: 800px) {

    .search-result-container {
        border:none;
        border-bottom: 1px solid lightgray;
        margin: 0;
        padding: 20px;
    }

    .search-result-info {
       min-width: 70vw;
    }


    .applied-filters {       
        flex-direction: row-reverse;               
        justify-content: flex-end;
        margin: 5px 0 0 0;
    }
 

    .alias{
        background-color: transparent;
        color:  #0073bb;
        padding: 0;
        border-radius: 3px;
        font-weight: 500;
        font-size: small;
    
    }

    .applied-filters > li:nth-child(5){
        display: none;        
    }

    .review-container>svg{
        display: none;
    }
 
    .CTA-link-container {
        justify-content: center;        

    }

    .CTA-link{
        min-width: 80vw;
        font-weight: 500;
        color: #0097ec;
        padding: 5px 10px;
        border-radius: 3px;
    }

    .search-result-image{
        // width: 14vw;
        // height: 14vw;
        border-radius: 5px;
    }
}