$bg-color : rgb(211,35,35);
$bg-color-main: rgb(255,255,255);
$color-app-header: rgb(43,39,60); 
$lightgray: rgb(211,211,211);
$link-hover-color:rgb(243, 239, 239); 
$bg-color-sign-up:rgb(244,13,21);  
$bg-color-mobile-filter: rgb(244,242,242);
$color-mobile-action-btn: rgb(114,112,112);